python-docx==0.8.11
moviepy==0.2.3.5
opencv-python==4.1.2.30
pandas==1.1.5
pdfminer.six==20201018
plotly==4.4.1
python-pptx==0.6.19
PyYAML==3.13
requests==2.23.0
seaborn==0.11.1
toml==0.10.2
tqdm==4.41.1